/* footer */
.footer {
  background: #f2f2f2;
  .upper {
    padding: 80px 15px 85px;
    display: grid; grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .title {
    font-size: 22px;
    line-height: 36px;
    font-family: $semi;
    color: #333333;
    margin-bottom: 13px;
  }
  a {
    font-size: 18px;
    &:hover {color: $orange !important;}
    &.active {pointer-events: none; opacity: .5;}
  }
  .col--phone,
  .col--location {margin-bottom: 20px;}
  .col--phone {
    a {
      font-size: 22px;
      line-height: 36px;
      font-family: $semi;
      color: #333333;
      display: block;
    }
    &:after {top: 8px; font-size: 18px;}
  }
  .col--location {
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    &:after {font-size: 18px;}
  }
  .col--email {
    &:after {
      font-size: 14px;
      top: 4px;
    }
    a {
      font-size: 18px;
      text-decoration: underline;
      color: #666666;
      &:hover {color: $orange;}
    }
  }
  .copy {
    border-top: 1px solid #ddd;
    font-size: 14px;
    line-height: 1.2;
    color: #a4a4a4;
    .container {
      height: 61px;
    }
    a {font-size: 14px;
      line-height: 1.2;
      color: #a4a4a4;
    }
    img {display: inline; vertical-align: middle;}
  }
}

.theis .footer a:hover {color: $orange !important}
.dolgit .footer a:hover {color: #0050ae !important}
.lacalut .footer a:hover {color: #e31e24!important}
.mediph .footer a:hover {color: #003b50!important}



.footer {
  @media (max-width: 1010px) {
    .upper {gap: 15px; padding: 40px 15px 45px;}
    .title {font-size: 18px;}
    .col--phone a {font-size: 20px;}
    .col--location, .col--email a,
    .inst-link span, .check--list li a {font-size: 16px;}
  }
  
  @media (max-width: 905px) {
    .col:not(.soc):not(.cts) {display: none;}
    .cts {grid-column: 1 / 2; grid-row: 1 / 2}
    .soc {grid-column: 2 / 3;}
    .upper {grid-template-columns: 1fr 1fr;}
  }
  @media (max-width: 530px) {
    .upper {
      grid-template-columns: 1fr;
      padding: 30px 15px 20px;
    }
    .cts, .soc {grid-column: span 1; }
    .col--phone, .col--location {margin-bottom: 10px;}
    .col--phone a {line-height: 1.4;}
    .col--phone:after {top: 5px;}
    .copy .container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: auto;
      font-size: 12px;
      padding: 10px 15px;
      a {margin-top: 5px; font-size: 12px;}
    }
  }
  .col--location:after {font-size: 16px; top: 2px}
  .col--email:after {font-size: 13px; top: 4px;}
  .col--phone:after {font-size: 16px; top: 6px;}
  .title {line-height: 1.4; margin-bottom: 5px; margin-top: 10px;}
}