/* footer */
.footer {
  background: #f2f2f2;
  .upper {
    padding: 80px 15px 85px;
    display: grid; grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .title {
    font-size: 22px;
    line-height: 36px;
    font-family: $semi;
    color: #333333;
    margin-bottom: 13px;
  }
  a {
    font-size: 18px;
    &:hover {color: $orange !important;}
    &.active {pointer-events: none; opacity: .5;}
  }
  .col--phone,
  .col--location {margin-bottom: 20px;}
  .col--phone {
    a {
      font-size: 22px;
      line-height: 36px;
      font-family: $semi;
      color: #333333;
      display: block;
    }
    &:after {top: 8px; font-size: 18px;}
  }
  .col--location {
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    &:after {font-size: 18px;}
  }
  .col--email {
    &:after {
      font-size: 14px;
      top: 4px;
    }
    a {
      font-size: 18px;
      text-decoration: underline;
      color: #666666;
      &:hover {color: $orange;}
    }
  }
  .copy {
    border-top: 1px solid #ddd;
    font-size: 14px;
    line-height: 1.2;
    color: #a4a4a4;
    .container {
      height: 61px;
    }
    a {font-size: 14px;
      line-height: 1.2;
      color: #a4a4a4;
    }
    img {display: inline; vertical-align: middle;}
  }
}
/* footer */