/* page content */
.page {
	.news1, .news {
		.date {
			color: $orange;
		}
	}
	.page_nav {
		.active {
			color: $orange;
		}
	}
    #ask-form {
        max-width: 350px;
    }
    .write {
        color: $orange;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .back_link {
        margin: 25px 0;
    }
    p a {
        color: $orange;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .h2 a {
        font-size: 16px;
        color: $orange;
		}

	@media screen and (max-width: 1024px) {
		#photos-list td img {
			width: 100%;
			height: auto;
		}
	}
	@media screen and (max-width: 480px) {
		p img, p strong img, h2 img, h3 img, h4 img, h5 img, h6 img, p a img, strong img {
			width: 100%!important;
			height: auto!important;
			display: block!important;
			float: none!important;
			margin: 0 0 10px 0!important;		
		}
        #page-text p a img {
            width: auto!important;
            max-width: 100%!important;
        }
		#photos-list td {
			width: 50%;
			@include inline-block;
		}
	}
}
.theis.page p a {color: $orange;
&:hover {color: #444}}
.dolgit.page p a {color: #0050ae;
&:hover {color: #444}}
.lacalut.page p a {color: #e31e24;
&:hover {color: #444}}
.mediph.page p a {color: #003b50;
&:hover {color: #444}}

/* breadcrumbs */
.breadcrumbs {
	font-size: 14px;
	.container {
		padding: 40px 15px 0;
		margin-bottom: -20px;
	}
	ul {
		@include ul-default;
		li {
			padding: 5px 0px;
			line-height: 1.2;
			color: #666;
			@include inline-block;
			a {
				text-decoration: none;
				color: $orange;
			}
			&:after {
				content: '|';
				margin: 0px 2px 0px 7px;
				color: #666;
				@include inline-block;
			}
			&:last-of-type:after {
				display: none;
			}
		}
	}
}
/* breadcrumbs */
.theis .breadcrumbs li a {color: $orange;}
.dolgit .breadcrumbs li a {color: #0050ae;}
.lacalut .breadcrumbs li a {color: #e31e24;}
.mediph .breadcrumbs li a {color: #003b50;}



/* modal */
.modal {
    display: none;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    .modal__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .modal__block {
        width: 620px;
        background-color: #fff;
        position: absolute;
        padding: 20px;
        left: 0;
        right: 0;
        top: 50%;
        margin: 0 auto;
        transform: translateY(-50%);
        h4 {
            font-size: 20px;
            text-align: center;
            padding: 0 10px;
            margin: 0;
        }
    }
    form {
        display: block;
        padding-bottom: 130px;
        margin-top: 15px;
        textarea, 
        input[type="tel"], 
        input[type="text"], 
        input[type="email"], 
        input[type="search"], 
        input[type="password"] {
            width: 100%;
            min-height: 65px;
            background-color: #fff;
            border-radius: 0px;
            background-color: #fff;
            font-family: $regular;
            font-size: 18px;
            color: #414141;
            border: 1px solid #bababa;
            padding: 20px 20px;
            margin-bottom: 20px;
            box-shadow: none;
            line-height: 1;
            &::placeholder {
                color: #414141;
            }
        }
        .g-recaptcha {
            float: right;
        }
        .btn {
            float: right;
            margin: 15px 0 0 0;
        }
    }
    @media screen and (max-width: 1200px) {
        .modal__block {
            h4 {
                font-size: 18px;
            }
        }
        form {
            textarea, 
            input[type="tel"], 
            input[type="text"], 
            input[type="email"], 
            input[type="search"], 
            input[type="password"] {
                min-height: 50px;
                font-size: 16px;
                padding: 14px 15px;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        form {
            textarea, 
            input[type="tel"], 
            input[type="text"], 
            input[type="email"], 
            input[type="search"], 
            input[type="password"] {
                min-height: 40px;
                font-size: 14px;
                padding: 10px 15px;
                margin-bottom: 15px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .modal__block {
            h4 {
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 500px) {
        .modal__block {
            width: auto;
            left: 10px;
            right: 10px;
        }
    }
    @media screen and (max-width: 380px) {
        form {
            .g-recaptcha {
                transform: scale(0.85);
                transform-origin: 100% 50%;
            }
        }
    }
}


.theis .btn {
	background: $orange;
	&:hover {background: #4f4f4f;}
	&.btn-trans {
		border: 1px solid $orange;
		color: $orange;
		background: transparent;
		&:hover {
			color: #fff;
			background: $orange;
		}
	}
}

.dolgit .btn {
	background: #0050ae;
	&:hover {background: #003d85;}
	&.btn-trans {
		border: 1px solid #0050ae;
		color: #0050ae;
		background: transparent;
		&:hover {
			color: #fff;
			background: #0050ae;
		}
	}
}

.lacalut .btn {
	background: #e31e24;
	&:hover {background: #bbb;}
	&.btn-trans {
		border: 1px solid #e31e24;
		color: #e31e24;
		background: transparent;
		&:hover {
			color: #fff;
			background: #e31e24;
		}
	}
}

.mediph .btn {
	background: #003b50;
	&:hover {background: #bbb;}
	&.btn-trans {
		border: 1px solid #003b50;
		color: #003b50;
		background: transparent;
		&:hover {
			color: #fff;
			background: #003b50;
		}
	}
}



.theis .check--list li:before {
	border-bottom: 1px solid $orange;
	border-right: 1px solid $orange;
}
.dolgit .check--list li:before {
	border-bottom: 1px solid #0050ae;
	border-right: 1px solid #0050ae;
}
.lacalut .check--list li:before {
	border-bottom: 1px solid #e31e24;
	border-right: 1px solid #e31e24;
}
.mediph .check--list li:before {
	border-bottom: 1px solid #003b50;
	border-right: 1px solid #003b50;
}




.dolgit {.companies a:hover {border: 1px solid #0050ae;}}
.lacalut {.companies a:hover {border: 1px solid #e31e24;}}
.medoph {.companies a:hover {border: 1px solid #003b50;}}




.dolgit .t-card .btn:hover {background: #0050ae;}
.lacalut .t-card .btn:hover {background: #e31e24;}
.theis .t-card .btn:hover {background: $orange;}
.mediph .t-card .btn:hover {background: #003b50;}



// HERE ARE store-links, lacalut is default
.dolgit .store-link {
    .title {border-top: 1px solid #0050ae;}
    &:hover .title {
        background: #0050ae;
        color: #fff !important;
    }
}

.theis .store-link {
.title {border-top: 1px solid $orange;}
&:hover .title {
    background: $orange;
    color: #fff !important;
    }
}

.mediph .store-link {
    .title {border-top: 1px solid #003b50;}
    &:hover .title {
        background: #003b50;
        color: #fff !important;
    }
}


//TABS AND SLICK_DOTS COLORS
.dolgit {
	.slider .slick-dots li{
		&.slick-active button {background-color: #0050ae;}
		&:after {
			border: 1px solid #0050ae;
		}
	}
	.i-slider {
		.item .content {
			color: #666666;
			right: auto;
			left: calc(50% - 670px);
		}
		h1 {color: #333333;}
		.slick-prev,
		.slick-next {
			z-index: 2;
			width: 70px;
			&:before { background: #999999;}
			&:after {
				border-bottom: 2px solid #999999;
				border-right: 2px solid #999999;
			}
		}
	}
	.play {
		background-color: #0050ae;
		&:after {
			border: 2px solid rgba($color: #0050ae, $alpha: .5);
		}
		&:hover:after {
			background: rgba($color: #0050ae, $alpha: .3);
			border: 2px solid transparent;
		}
	}
}

.lacalut {
	.slider .slick-dots li{
		&.slick-active button {background-color: #e31e24;}
		&:after {
			border: 1px solid #e31e24;
		}
	}
	.i-slider {
		.item .content {
			color: #666666;
			right: auto;
			left: calc(50% - 670px);
		}
		h1 {color: #333333;}
		.slick-prev,
		.slick-next {
			z-index: 2;
			width: 70px;
			&:before { background: #999999;}
			&:after {
				border-bottom: 2px solid #999999;
				border-right: 2px solid #999999;
			}
		}
	}
	.play {
		background-color: #e31e24;
		&:after {
			border: 2px solid rgba($color: #e31e24, $alpha: .5);
		}
		&:hover:after {
			background: rgba($color: #e31e24, $alpha: .3);
			border: 2px solid transparent;
		}
	}
	#tabs{
		a:after {background: #e31e24;}
		#current a {
			color: #e31e24
		}
	}
}

.theis {
	.slider .slick-dots li{
		&.slick-active button {background-color: $orange;}
		&:after {
			border: 1px solid $orange;
		}
	}

	#tabs{
		a:after {background: $orange;}
		#current a {
			color: $orange;
		}
	}
}

.mediph {
	.slider .slick-dots li{
        button {background: #ccc;}
		&.slick-active button {background-color: #003b50;}
		&:after {
			border: 1px solid #003b50;
		}
	}
	.i-slider {
		.item .content {
			color: #666666;
			right: auto;
			left: calc(50% - 670px);
		}
		h1 {color: #333333;}
		.slick-prev,
		.slick-next {
			z-index: 2;
			width: 70px;
			&:before { background: #999999;}
			&:after {
				border-bottom: 2px solid #999999;
				border-right: 2px solid #999999;
			}
		}
	}
	.play {
		background-color: #003b50;
		&:after {
			border: 2px solid rgba($color: #003b50, $alpha: .5);
		}
		&:hover:after {
			background: rgba($color: #003b50, $alpha: .3);
			border: 2px solid transparent;
		}
    }
    #tabs{
		a:after {background: #003b50;}
		#current a {
			color: #003b50
		}
	}
}