<footer class="footer">
  <div class="upper container">
    <div class="col">
      <div class="title">Продукция</div>
      <div class="check--list">
        <li><a href="index_dolgit.html">Dolgit</a></li>
        <li><a href="index_lacalut.html">Lacalut</a></li>
        <li><a href="index_drtheiss.html">Dr. Theiss</a></li>
        <li><a href="index_medipharma.html">Medipharma Cosmetics</a></li>
      </div>
    </div>
    <div class="col">
      <div class="title">Информация</div>
      <div class="check--list">
        <li><a href="about.html">О компании</a></li>
        <li><a href="#">Продукция</a></li>
        <li><a href="#" class="active">Партнеры</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </div>
    </div>
    <div class="col soc">
      <div class="title">Мы в соц. сетях</div>

      <a href="#" target="_blank" class="inst-link">
        <div class="inst-btn">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <span>@drtheiss.kz</span>
      </a>

      <a href="#" target="_blank" class="inst-link">
        <div class="inst-btn">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <span>@lacalut_kz</span>
      </a>

    </div>

    <div class="col cts"><!--last-col-->
      <div class="col--phone">
        <a href="tel:+7 (727) 268 31 68">+7 (727) 268-31-68</a>
        <a href="tel:+7 (727) 268-31-66">+7 (727) 268-31-66</a>
      </div>
      <div class="col--location">
        050009, г. Алматы, ул. Ислам Каримов, дом 198
      </div>
      <div class="col--email">
        <a href="mailto:info@drtheiss.kz">info@drtheiss.kz</a>
      </div>
    </div>

  </div>
  <div class="copy">
    <div class="container flex spb center">
      <div>Copyright &copy; 2020 Dr. Theiss. Все права защищены.</div>
    <a href="https://artmedia.kz/" target="_blank">Создание сайта <img src="./img/art.png" alt=""></a>
    </div>
  </div>
</footer>