<div class="preload">
	<div class="sk-double-bounce">
		<div class="sk-child sk-double-bounce-1"></div>
		<div class="sk-child sk-double-bounce-2"></div>
	</div>
</div>

<header class="header mediph">
	<div class="upper-header">
		<div class="container flex center">
			<a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
			<a href="index_drtheiss.html"><img src="./img/drth.png" alt=""></a>
			<a href="index_lacalut.html"><img src="./img/lacalut.png" alt=""></a>
			<a href="index_dolgit.html"><img src="./img/dolgit.png" alt=""></a>
			<a href="index_medipharma.html" class="active"><img src="./img/mediph.png" alt=""></a>
		</div>
	</div>

	<div class="down-header">
		<div class="container flex center">
			<div class="nav--btn">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<a href="index.html" class="logo-link"><img src="./img/mediph_logo.png" alt=""></a>

			<div class="second-section">
				<nav class="nav flex center">
					<ul class="flex center">
						<li><a href="about4.html">О бренде</a></li>
						<li><a href="catalog2.html">Магазин</a></li>
						<li><a href="#">Доставка и оплата</a></li>
						<li><a href="#">Полезные советы</a></li>
						<li><a href="#">Вопрос ответ</a></li>
						<li><a href="contacts2.html">Контакты</a></li>
					</ul>
				</nav>
				<form action="" class="search-bar">
					<button class="close-bar"></button>
					<input type="text" required placeholder="Поиск по сайту">
					<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				</form>
			</div>

			<button class="search-trigger basis"><i class="fa fa-search" aria-hidden="true"></i></button>



			<a href="cart3.html" class="cart-link">
				<div class="img-c">
					<img src="./img/basket.svg" alt="">
					<div class="num">0</div>
				</div>
				<span>Корзина</span>
			</a>

		</div>
	</div>

</header>

<div class="companies-container dolgit">
	<div class="dropdown-menu companies flex center">
		<a href="index_drtheiss.html" class="thei"><img src="./img/drth.png" alt=""></a>
		<a href="index_lacalut.html"><img src="./img/lacalut.png" alt=""></a>
		<a href="index_dolgit.html" class="dolgit"><img src="./img/dolgit-y.png" alt=""></a>
		<a href="index_medipharma.html"><img src="./img/mediph.png" alt=""></a>
	</div>
</div>

<div class="modal" id="success-add">
	<div class="modal__layer"></div>
	<div class="modal__block">
		<a href="#" class="close"></a>
		<h4>Добавлено в корзину</h4>
	</div>
</div>

<div class="modal" id="success-order">
	<div class="modal__layer"></div>
	<div class="modal__block">
		<a href="#" class="close"></a>
		<h4>Ваш заказ принят</h4>
	</div>
</div>

<div class="modal" id="success-send">
	<div class="modal__layer"></div>
	<div class="modal__block">
		<a href="#" class="close"></a>
		<h4>Ваше сообщение успешно отправлено</h4>
	</div>
</div>